<div id="friends">
  <table class="table table-hover table-striped">
    <thead>
      <tr class="table-dark">
        <th scope="row"> Name     </th>
        <th scope="row"> Eamil    </th>
        <th scope="row"> Phone    </th>
        <th scope="row"> Twitter  </th>
        <th scope="row">          </th>
      </tr>
    </thead>
    <tbody>
      
      <% @friends.each do |friend| %>
        <% if friend.user == current_user %>
          <%= render friend %>
        <% end %>
      <% end %>

    </tbody>
  </table>
</div>

<%= link_to "+ New friend", new_friend_path, class:"btn btn-dark" %>